body {
    font-family: 'Arial', sans-serif;
    background-color: #b5b3b3;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#app {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f01313;
    margin: 5px 0;
    padding: 8px;
    border-radius: 10px;
    background-color: #ffffff;
}

li button {
    background-color: #ed0b0b;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


#add{
    background-color: rgb(28, 148, 108);
    border:  1px #ffffff ;
}